* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', system-ui;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('https://media1.tenor.com/m/0rvmgkh3zXoAAAAC/super-mario-bros-movie-2023-running.gif');
    background-size: cover;
}

.nav-container{
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav-container,
    .container {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        max-height: 40vh;
    }

    .game-board {
        max-height: 60vh;
    }

    .pipe,
    .mario {
        /* width: 100%; */
        width: 40px !important;
        max-height: 20vh;
    }

    .footer {
        max-height: 15vh;
        text-align: center;
        bottom: 0;
        width: 100%;
        color: #0e0f0e;
        font-size: 10px;
    }
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 1rem solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    height: 130px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 550ms infinite ease-out;
}

.clouds {
    width: 500px;
    position: absolute;
    animation: clouds-animation 25s infinite linear;
}

.h2 {
    margin-right: 10px;
    color: #0e0f0e;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #2f382f;
}

.rpgui-button {
    color: #0e0f0e !important;
    font-size: 20px !important;
    font-weight: bold;
}

.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #0e0f0e;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}
