* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


  

.game-board {
        width: 100%;
        height: 500px;
        border-bottom: 1rem solid rgb(35, 160, 35
        );
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
        position: absolute;
        bottom: 0;
        width: 70px;
        animation: pipe-animation 1.5s infinite linear;
}

.mario {
        height: 130px;
        position: absolute;
        bottom: 0;
}

.jump {
        animation: jump 550ms infinite ease-out;
        
}

.clouds{
    width: 500px;
    position: absolute;
    animation: clouds-animation 25s infinite linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .h2 {
    margin-right: 10px;
    color: green;
  }
  
  .score {
    font-size: 24px;
    font-weight: bold;
    color: green;
  }

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }  
}